@media screen and (max-width: 600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .header li{
        margin-left: 0;
        padding-left: 0;
    }
    .midbtn{
        display: none;
    }
    .video video{
        width: 75%;
    }
    .about{
        margin: 30px;
    }
   .burger{
       display: block;
   }
}

@media screen and (max-width: 860px){
    .first img{
        display: none;
    }
    .video video{
        width: 50%;
    }
    .burger{
        display: block;
    }
}

@media screen and (max-width: 1530px) {
    .navbar{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0;
    }
    .logo{
        margin-left: 0;
        padding-left: 0;
        /* text-align: center; */
    }
    
    .header{
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    .search{
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    .signup{
        margin-left: 0;
        margin-bottom: 10px;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
.top{
    width: 100%;
    
}
    .mainsection{
        text-align: center;
        justify-content: center;
        margin: auto;
       
    }
    .video{
        text-align: center;
        margin: 20px auto;
    }
    .video video{
        width: 30%;
    }

    /* --------------------------- Hamburger ----------------------------- */
    .burger{
        display: block;
    }
    .logo-resp img{
        width: 55px;
        margin-left: 20px;
    }

    .h-resp{
        height: 70px;
    }

    .v-resp{
        opacity: 0;
    }
}

