@media screen and (max-width: 600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .header li{
        margin-left: 0;
        padding-left: 0;
    }
    .midbtn{
        display: none;
    }
    .video video{
        width: 57%;
    }
    .about{
        margin: 30px;
    }
   
}

@media screen and (max-width: 860px){
    .first img{
        display: none;
    }
}

@media screen and (max-width: 1550px) {
    nav{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0;
    }
    .logo{
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }
    .header{
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    .search{
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    .signup{
        margin-left: 0;
        margin-bottom: 10px;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
.top{
    width: 100%;
    
}
    .mainsection{
        text-align: center;
        justify-content: center;
        margin: auto;
       
    }
    .video{
        text-align: center;
        margin: 20px auto;
    }
    .video video{
        width: 55%;
    }
}

