

*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    padding-top: 10px;
    padding-left: 70px;
    background-color: #9aa38f;
    position: sticky;
    top: 0px;
}

.logo{
padding-left: 10px;
}
.logo img{
    width: 10vh;
   
    border-radius: 50%;
}

.signup{
    display: flex;display: flex;
    margin-top: 20px;
    margin-left: 145px;
}


.header{
    display: flex;
    margin-top: 27px;
    font-weight: bolder;
    font-size: 1.3rem;

}

.header li{
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    
}
.header li a{
    text-decoration: none;
    color: black;
}

.header li:hover{
    color: thistle;
}

.search{
    margin-top: 24px;
    display: flex;
    margin-left: 15vw;
}
.input input{
    padding-left: 10px;
    border: solid green 2px;
    border-radius: 5px;
    width: 200px;
    height: 27px;

}

.btn{
    padding-left: 10px;

}
.btn button{
height: 29px;
width: 67px;
border: solid green 2px;
border-radius: 5px;
background-color: #fff;
color: green;
cursor: pointer;
font-size: large;
font-family: 'Playfair Display', serif;
}


.btn button:hover{
   background-color: green;
   color: white;
}

.login{
    margin-right: 10px;
    
}

.login button{
    height: 40px;
        width: 80px;
        background-color: red;
        color: white;
        
        border: 2px solid red;
        border-radius: 8px;
    
}

.login button:hover{
    color: red;
    background-color: white;
}
.bgpic img{
    width: 98.8vw;

}

.top{
    background-image:url(./bgpic.jpg);
    background-repeat: no-repeat;
    height: 130vh;
    padding-top: 10%;
}

.mainsection{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    
}

h2{
    font-size: 2rem;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    
}

.midbtn{
    margin-top: 20px;
    
}

.midbtn button{
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    color: white;
}

 .red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

footer{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video{
    margin-top: 20px;
    margin-left: 408px;
    
}

.video video{
    border-radius: 10px;
}

.about{
    background-color: #efe9e9;
    margin: 30px 110px;
    border-radius: 20px;
   
}

.para{
padding: 20px;
}

.para p{
    padding-top: 10px;
}

.first{
    display: flex;
}

.middle img{
    width: 20%;
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.middle2 img{
    width: 20%;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.mid{
    text-align: center;
}

.mid h2{
    color: black;
    margin-top: 20px;
}
footer p{
    color: white;
}

